{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} authentification - HardWhere {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Inscription d'un Membre</h2 >
            <form action="{{ path('index_inscription') }}" class="form-horizontal" method="post">

                <!-- Prénom et Nom -->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="PRENOMAUTEUR" required class="form-control"
                            type="text" placeholder="Saisissez votre Prénom">
                    </div>
                    <div class="col-xs-6">
                        <input name="NOMAUTEUR" required class="form-control"
                            type="text" placeholder="Saisissez votre Nom">
                    </div>
                </div>

                <!-- Email et Mot de Passe -->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="EMAILAUTEUR" required class="form-control"
                            type="email" placeholder="Saisissez votre Email">
                    </div>
                    <div class="col-xs-6">
                        <input name="MDPAUTEUR" required class="form-control"
                            type="password" placeholder="*********">
                    </div>
                </div>

                <input type="submit" class="btn btn-block le-button huge" value="M'inscrire">

            </form>
        </div>
    </div>

            {% endblock %}
