{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Accueil - HardWhere {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}


                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div><!-- /.top-search-holder -->



                    </div><!-- /.top-cart-row -->
                </div><!-- /.container -->
            </header>
            <!-- ============================================================= HEADER : END ============================================================= -->

            <div id="top-banner-and-menu">
                <div class="container">
                    <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
                        <!-- ================================== TOP NAVIGATION ================================== -->
                        <div class="side-menu animate-dropdown">
                            <div class="head"><i class="fa fa-list"></i>Catégories</div>
                            <nav class="yamm megamenu-horizontal" role="navigation">
                                <ul class="nav">
                                    <li class="dropdown menu-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Toutes les catégories</a>
                                        <ul class="dropdown-menu mega-menu">
                                            <li class="yamm-content">
                                                <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-4">
                                                        <ul>
                                                            <li><a href="#">Boites &amp; Accessoires</a></li>
                                                            <li><a href="#">Processeurs</a></li>
                                                            <li><a href="#">Ventilateurs</a></li>
                                                            <li><a href="#">Cartes Graphiques</a></li>
                                                            <li><a href="#">Memoire (RAM)</a></li>
                                                            <li><a href="#">Cartes mères</a></li>
                                                            <li><a href="#">Packs carte mère + CPU</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-xs-12 col-lg-4">
                                                        <ul>
                                                            <li><a href="#">Alimentations</a></li>
                                                            <li><a href="#">Cartes Son</a></li>
                                                            <li><a href="#">Autres</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item -->

                                    <li class="dropdown menu-item">
                                        <a href="#">Boites &amp; Accessoires</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Processeurs</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Ventilateurs</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Cartes Graphiques</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Memoire (RAM)</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Cartes mères</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Packs carte mère + CPU</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Alimentations</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Cartes Son</a>
                                    </li>

                                    <li class="dropdown menu-item">
                                        <a href="#">Autres</a>
                                    </li>
                                </ul><!-- /.nav -->
                            </nav><!-- /.megamenu-horizontal -->
                        </div><!-- /.side-menu -->
                        <!-- ================================== TOP NAVIGATION : END ================================== -->
                    </div><!-- /.sidemenu-holder -->

                    <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
                        <!-- ========================================== SECTION – HERO ========================================= -->
                        <div id="hero">
                            <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                                <div class="item" style="background-image: url(http://www.pc-boost.com/news/upload/22_May_2017/asus11_grande.png);">
                                    <div class="container-fluid">
                                        <div class="caption vertical-center text-left" style="color: red;">
                                            <div class="big-text fadeInDown-1">
                                                Economisez<span class="big">400<span class="sign">€</span></span>
                                            </div>

                                            <div class="button-holder fadeInDown-3">
                                                <a href="produit.html" class="big le-button ">Voir maintenant</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div><!-- /.container-fluid -->
                                </div><!-- /.item -->

                                <div class="item" style="background-image: url(http://www.laptopspirit.fr/wp-content/uploads/new/Materiel-R%C3%A9ductions-p%C3%A9riph%C3%A9riques-Razer-clavier-souris-casque-micro-5juin13.jpg);">
                                    <div class="container-fluid">
                                        <div class="caption vertical-center text-left" style="color: red;">
                                            <div class="button-holder fadeInDown-3">
                                                <a href="single-product.html" class="big le-button ">En profiter</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div><!-- /.container-fluid -->
                                </div><!-- /.item -->

                            </div><!-- /.owl-carousel -->
                        </div>
                        <!-- ========================================= SECTION – HERO : END ========================================= -->
                    </div><!-- /.homebanner-holder -->
                </div><!-- /.container -->
            </div><!-- /#top-banner-and-menu -->

            <!-- ========================================= HOME BANNERS ========================================= -->
            <section id="banner-holder" class="wow fadeInUp">
                <div class="container">
                    <div class="col-xs-12 col-lg-6 no-margin banner">
                        <a href="categories.html">
                            <img class="banner-image" alt="" src="assets/images/blank.gif" data-echo="{{ asset('assets/images/banniere.jpg') }}" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-lg-6 no-margin text-right banner">
                        <a href="categories.html">
                            <img class="banner-image" alt="" src="assets/images/blank.gif" data-echo="{{ asset('assets/images/banniere2.jpg') }}" />
                        </a>
                    </div>
                </div><!-- /.container -->
            </section><!-- /#banner-holder -->
            <!-- ========================================= HOME BANNERS : END ========================================= -->

            <div id="products-tab" class="wow fadeInUp">
                <div class="container">
                    <div class="tab-holder">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" >
                            <li class="active"><a href="#featured" data-toggle="tab">En ce moment</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="featured">
                                <div class="product-grid-holder">
                                    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                        <div class="product-item">

                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-01.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount green">-50% promo</div>
                                                <div class="title">
                                                    <a href="single-product.html">Produit 1</a>
                                                </div>
                                                <div class="brand">Marque</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-current pull-right">Prix ici</div>
                                            </div>

                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">Voir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-02.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">Produit 2</a>
                                                </div>
                                                <div class="brand">Marque</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-current pull-right">Prix ici</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">Voir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">

                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-03.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">Produit 3</a>
                                                </div>
                                                <div class="brand">Marque</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-current pull-right">Prix ici</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">Voir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-04.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">Produit 4</a>
                                                </div>
                                                <div class="brand">Marque</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-current pull-right">Prix ici</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">Voir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="new-arrivals">
                              <div class="product-grid-holder">
                                  <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                      <div class="product-item">
                                          <div class="ribbon red"><span>a saisir</span></div>
                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-01.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount green">-50% promo</div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 1</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>

                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                      <div class="product-item">
                                          <div class="ribbon blue"><span>Nouveau !</span></div>
                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-02.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount clear"></div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 2</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>
                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                      <div class="product-item">

                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-03.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount clear"></div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 3</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>
                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                      <div class="product-item">
                                          <div class="ribbon red"><span>A saisir</span></div>
                                          <div class="ribbon green"><span>Le plus consulté</span></div>
                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-04.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount clear"></div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 4</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>
                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class="tab-pane" id="top-sales">
                              <div class="product-grid-holder">
                                  <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                      <div class="product-item">
                                          <div class="ribbon red"><span>a saisir</span></div>
                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-01.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount green">-50% promo</div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 1</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>

                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                      <div class="product-item">
                                          <div class="ribbon blue"><span>Nouveau !</span></div>
                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-02.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount clear"></div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 2</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>
                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                      <div class="product-item">

                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-03.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount clear"></div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 3</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>
                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                      <div class="product-item">
                                          <div class="ribbon red"><span>A saisir</span></div>
                                          <div class="ribbon green"><span>Le plus consulté</span></div>
                                          <div class="image">
                                              <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-04.jpg" />
                                          </div>
                                          <div class="body">
                                              <div class="label-discount clear"></div>
                                              <div class="title">
                                                  <a href="single-product.html">Produit 4</a>
                                              </div>
                                              <div class="brand">Marque</div>
                                          </div>
                                          <div class="prices">
                                              <div class="price-current pull-right">Prix ici</div>
                                          </div>
                                          <div class="hover-area">
                                              <div class="add-cart-button">
                                                  <a href="single-product.html" class="le-button">Voir</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
